*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dogs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 40px;
    justify-content: center;
}